[submodule "meta/dotbot"]
	path = meta/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tools/kitty/themes"]
	path = roles/kitty/files/themes
	url = https://github.com/dexpota/kitty-themes
	ignore = dirty
