---

# add unattended upgrades config file for Raspberry Pi OS

- name: "Link unattended-upgrades config file"
  file:
    src: "{{ role_path }}/files/raspberry-config"
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    state: link
  become: true

- name: "Restart unattended-upgrades"
  service:
    name: unattended-upgrades
    state: restarted
  become: true
