---

- name: "Create lazygit directory in {{ zshenv.LAZYGIT_CONFIG_DIR_PATH }}"
  file:
    path: "{{ zshenv.LAZYGIT_CONFIG_DIR_PATH }}"
    state: directory

- name: "Add LazyGit config to {{ zshenv.LAZYGIT_CONFIG_PATH }}"
  file:
    src: "{{ role_path }}/files/lazygit.yml"
    dest: "{{ zshenv.LAZYGIT_CONFIG_PATH }}"
    state: link
