---

# terminal file manager written in rust
# https://github.com/sxyazi/yazi

- name: "Link yazi config folder to ~/.config/yazi"
  file:
    src: "{{ role_path }}/files"
    dest: "{{ zshenv.XDG_CONFIG_HOME }}/yazi"
    state: link
