---

- name: "Create directories"
  file:
    path: "{{ item }}"
    state: directory
    force: true
    recurse: true
  loop:
    - "{{ zshenv.XDG_CONFIG_HOME }}/zsh"
    - "{{ zshenv.HISTFILE_DIR_PATH }}"

- name: "Link files"
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    force: true
    state: link
  loop:
    - src: "{{ role_path }}/files/.zshrc"
      dest: "{{ zshenv.ZSHRC_PATH }}"
    - src: "{{ role_path }}/files/.zshenv"
      dest: "{{ zshenv.ZSHENV_PATH }}"
    - src: "{{ role_path }}/files/.zshenv"
      dest: "{{ zshenv.HOME }}/.zshenv"
    - src: "{{ zshenv.DOTDIR }}/tools/zsh/.zlogin"
      dest: "{{ zshenv.ZLOGIN_PATH }}"
    - src: "{{ zshenv.DOTDIR }}/tools/zsh/bin/on.sh"        # for making new obsidian note
      dest: "{{ ansible_env.HOME }}/.local/bin/on"

- name: "Link powerlevel10k config to {{ zshenv.ZDOTDIR }}/.p10k.zsh"
  file:
    src: "{{ zshenv.ZSH_THEME_DEFAULT }}"
    dest: "{{ zshenv.ZDOTDIR }}/.p10k.zsh"
    state: link
  when: "'powerlevel10k' in lookup('env', 'ZSH_THEME_DEFAULT')"

- name: "Change default shell to ZSH"
  ansible.builtin.user:
    name: "{{ ansible_env['USER'] }}"
    shell: /usr/bin/zsh
  become: true
