---

- name: "Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yaml"
  register: distribution_config

- name: "Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yaml"
  when: distribution_config.stat.exists

# ----------------------------------------------------------------------------------------------- #

# link Kitty config folder
- name: "Link folder to {{ zshenv.KITTY_CONFIG_DIRECTORY }}"
  file:
    src: "{{ role_path }}/files"
    dest: "{{ zshenv.KITTY_CONFIG_DIRECTORY }}"
    state: link
    force: true
