---

- name: "Checking for Distribution Config: {{ ansible_distribution }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yaml"
  register: distribution_config

- name: "Run Tasks: {{ ansible_distribution }}"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yaml"
  when: distribution_config.stat.exists

# ----------------------------------------------------------------------------------------------- #
# ----------------------------------------------------------------------------------------------- #
# ----------------------------------------------------------------------------------------------- #

- name: "Create git directory in {{ zshenv.GIT_CONFIG_DIR_PATH }}"
  file:
    path: "{{ zshenv.GIT_CONFIG_DIR_PATH }}"
    state: directory

- name: "Add gitconfig file to {{ zshenv.GIT_CONFIG_PATH }}"
  file:
    src: "{{ role_path }}/files/.gitconfig"
    dest: "{{ zshenv.GIT_CONFIG_PATH }}"
    state: link

- name: "Add gitignore file to {{ zshenv.GIT_IGNORE_GLOBAL_PATH }}"
  file:
    src: "{{ role_path }}/files/.gitignore_global"
    dest: "{{ zshenv.GIT_IGNORE_GLOBAL_PATH }}"
    state: link

- name: "Create ~/.ssh directory"
  file:
    path: "{{ zshenv.HOME }}/.ssh"
    state: directory

- name: "Add git allowed signers to {{ zshenv.GIT_ALLOWED_SIGNERS }}"
  file:
    src: "{{ role_path }}/files/allowed_signers"
    dest: "{{ zshenv.GIT_ALLOWED_SIGNERS }}"
    state: link

# ----------------------------------------------------------------------------------------------- #

# symlink `/usr/local/bin/gh` to `/usr/bin/gh`
- name: "Check `gh` location"
  stat:
    path: "/usr/local/bin/gh"
  changed_when: false
  register: gh_stats

- name: "Add symlink of `gh` to /use/local/bin"
  file:
    src: "/usr/bin/gh"
    dest: "/usr/local/bin/gh"
    state: link
  become: true
  when: not gh_stats.stat.exists
