---

# create directories to store code
# link directories to the home folder

- name: "Create directories"
  file:
    dest: "{{ item }}"
    state: directory
    recurse: true
  loop: "{{ create_directories }}"

- name: "Link files"
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    # force: true
  loop: "{{ link_directories }}"
