---

# obtained from
# - https://mise.jdx.dev/lang/go.html#go

# - name: "Get latest version of Golang"
#   ansible.builtin.command: "mise latest go"
#   register: golang_latest_version

- name: "Install latest Golang"
  ansible.builtin.command: "mise use -g go@latest"
