---

# remove existing tmux config
- name: "Remove tmux directories "
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ zshenv.TMUX_CONFIG_DIR_PATH }}"
    - "{{ zshenv.TMUX_PLUGIN_CACHE_PATH }}"
    - "{{ zshenv.OH_MY_TMUX_DIR_PATH }}"

# clone oh-my-tmux to ~/.config/oh-my-tmux/
- name: "Git clone oh-my-tmux repo to {{ zshenv.OH_MY_TMUX_DIR_PATH }}"
  git:
    repo: "https://github.com/gpakosz/.tmux.git"
    dest: "{{ zshenv.OH_MY_TMUX_DIR_PATH }}"
    version: master

# create tmux directory on ~/.config/
- name: "Create tmux directory in {{ zshenv.TMUX_CONFIG_DIR_PATH }}"
  file:
    path: "{{ zshenv.TMUX_CONFIG_DIR_PATH }}"
    state: directory

# link oh-my-tmux config file
- name: "Link oh-my-tmux config file {{ zshenv.OH_MY_TMUX_CONFIG_PATH }} to {{ ansible_env.TMUX_CONFIG_PATH }}"
  file:
    src: "{{ zshenv.OH_MY_TMUX_CONFIG_PATH }}"
    dest: "{{ zshenv.TMUX_CONFIG_PATH }}"
    state: link

# link local tmux config file
- name: "Link local tmux config files"
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - src: "{{ role_path }}/files/tmux.conf"
      dest: "{{ zshenv.TMUX_CONFIG_DIR_PATH }}/tmux.conf.local"
    - src: "{{ role_path }}/files/hotkeys.tmux.conf"
      dest: "{{ zshenv.TMUX_CONFIG_DIR_PATH }}/hotkeys.tmux.conf"
    - src: "{{ role_path }}/files/theme.tmux.conf"
      dest: "{{ zshenv.TMUX_CONFIG_DIR_PATH }}/theme.tmux.conf"
