---

# setup fail2ban using config file

- name: "Install fail2ban via apt"
  apt:
    update_cache: true
    name: "fail2ban"
    state: present
  when:
    ansible_os_family == "Debian"
  become: true

- name: "Link config file to /etc/fail2ban/jail.local"
  file:
    src: "{{ role_path }}/files/jail.local"
    dest: "{{ zshenv.FAIL2BAN_JAIL_FILE_PATH }}"
    state: link
  become: true

- name: "Restart fail2ban service"
  service:
    name: fail2ban
    state: restarted
  become: true
