# git config
# https://git-scm.com/docs/git-config

[user]
  name = Clumsy-Coder
  email = 19594044+Clumsy-Coder@users.noreply.github.com
  signingkey = /Users/umar/.ssh/github-ssh.pub

[color]
  ui = true
  status = true                           # display git status in colour
  branch = true                           # display branches in colour when using git branch -a
  interactive = true                      # use colour when using git add/clean --interactive

[pull]
  rebase = true                           # rebase branches on top of the fetched branch when pulling from remote

[push]
  default = upstream                      # push the current branch back to the branch in remote

[merge]
  conflictstyle = diff3

[core]
  editor = nvim +23 -c 'startinsert'      # default editor
  excludesfile = ~/.config/git/.gitignore_global # default git ignore file
  pager = delta                           # tool used for displaying git diff

[interactive]
  diffFilter = delta --color-only         # shows coloured diff when using interactive command (ex: git add --patch)

[commit]
  template = ~/dotfiles/tools/git/git-commit-template-timmybytes.txt
  gpgsign = true
  # template = ~/dotfiles/tools/git/git-commit-template-joelparkerhenderson.txt

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[diff]
#   tool = vscode
  colorMoved = default                    # moved lines in a diff are colored differently

# git-delta diff tool
[delta]
  # theme = "gruvbox-dark"
  navigate = true                         # use n and N to move between diff sections
  line-numbers = true                     # show line number
  # dark = true                             # display diff in dark mode
  # diff-so-fancy = true                    # use diff so fancy. https://github.com/so-fancy/diff-so-fancy
  # diff-highlight = true                   # use diff-highlight
  # side-by-side = true                     # show diff side by side

# [difftool "vscode"]
#   cmd = code --wait --diff $LOCAL $REMOTE
#   prompt = true

# [merge]
#   tool = vscode

# [mergetool "vscode"]
#   cmd = code --wait $MERGED

[stash]
  showPatch = false
  showStat = true

# git logs
[log]
  date=format:"%a, %Y-%m-%d %H:%M:%S %z"
  ; date=rfc
[gpg]
  format = ssh
[credential "https://github.com"]
  helper = 
  helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/local/bin/gh auth git-credential
[gpg "ssh"]
  allowedSignersFile = /Users/umar/.ssh/allowed_signers
[init]
	defaultBranch = master
[diff "exif"]
	textconv = exiftool
